.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}



.content {
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 69%;
  background-image: url('../../img/disloin3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.main-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  z-index: 2;
  gap: 30px;
}


.carousel-container {
  flex: 1;
  max-width: 50%;
  margin-left: 5%;
}

.carousel-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.carousel-img:hover {
  transform: scale(1.05);
}

.text-container {
  flex: 1;
  text-align: left;
  color: white;
  padding: 20px;
  max-width: 50%;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  line-height: 1.5;
}

.footer {
  width: 100%;
  border: 1px solid rgb(82, 82, 82);
  text-align: center;
  height: 18vh;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  padding: 20px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

.contact-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-section {
  max-width: 80%;
  margin: 0 auto;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50vh;
}

.contact-info {
  text-align: left;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 15px; 
  justify-content: center;
  align-items: center; 
  max-width: 300px;
  margin: 0 auto;
}

.social-icons a {
  font-size: 24px;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a:hover {
  color: #ffffff;
}
