.sidebar {
  background-color: #002761; // Fondo oscuro
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 6vh;
  height: 100vh;
  width: 27vh;
  top: 0;
  left: -500px; // Inicia fuera de la pantalla
  transition: left 0.3s ease-in-out;
  z-index: 200;

  &.open {
    left: 0; // Se desliza hacia adentro
  }

  &.closed {
    left: -500px; // Se desliza hacia afuera
  }

  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ecf0f1;
    z-index: 300;
  }

  .logo {
    padding: 20px;
    text-align: center;
    background-color: #34495e; // Un tono más oscuro para el logo
    border-bottom: 1px solid #1abc9c; // Borde inferior con un toque de color

    h2 {
      margin: 0;
      color: #1abc9c; // Color llamativo para el texto
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .nav {
    flex: 1;
    padding: 20px 0;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 10px 0;

        .link {
          display: block;
          padding: 10px 10px;
          color: #ecf0f1;
          text-decoration: none;
          font-family: Arial;
          transition: background-color 0.3s ease, color 0.3s ease;
          border-radius: 5px;

          &:hover {
            background-color: #01337c;
            color: #ecf0f1;
            border-radius: 5px;
          }
        }
      }
    }
  }
  .linkSubMenu {
    display: block;
    padding: 10px 10px;
    color: #ecf0f1;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;

    &:hover {
      background-color: #01337c;
      color: #ecf0f1;
      border-radius: 5px;
      font-size: 20px;
    }
  }

  .menuItem {
    cursor: pointer;
    padding: 7px;
    font-family: Arial;
    transition: all 0.3s ease;
    padding: 10px, 10px, 10px, 10px;

    &:hover {
      background-color: #01337c;
      color: #ecf0f1;
      border-radius: 5px;
    }
  }

  .active {
    background-color: rgb(255, 255, 255);
    color: #2c3e50;
    margin-left: 10px;
    margin-right: 10px;
    height: 26px;
    border-radius: 5px;
    font-weight: bold;
  }

  .subMenu {
    list-style: none;
    padding-left: 15px;
    margin-top: 5px;
    margin-left: 30px;
    transition: all 0.3s ease-in-out;
    font-family: Arial;
  }

  .subMenu li {
    padding: 5px 10px;
    font-family: Arial;

    &:hover {
      background-color: #01337c;
      color: #ecf0f1;
      border-radius: 5px;
    }
  }
  .icons {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
  }

  .arrow {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .activateArrow {
    transform: rotate(90deg);
  }
}
