.TableContent {
    margin-left: 3%;
    margin-right: 3%;
    width: 100%;
    min-height: 100vh;
    border-left: 1px solid rgb(82, 82, 82);
    border-right: 1px solid rgb(82, 82, 82);
    display: block;
}

.Title {
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 40px;
}

.divButton {

    margin-left: 3%;
    margin-bottom: 1%;
}

.button {
    background-color: rgb(204, 204, 204);
    border-radius: 2px;
    width: 12vh;
    font-size: 18px;
    height: 3vh;

}

table {
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 7px;
    border: 2px solid rgb(0, 0, 0);
    width: 94%;
    border-collapse: collapse;
}

thead {
    height: 6vh;
    font-size: 18px;
}

th {
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    background-color: #f4f4f4;
    font-weight: bold;
}

td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: #f4f4f4;
}

.button2 {
    color: blue;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #bcbcbc;
        color: #ecf0f1;
        border-radius: 2px;
    }
}

.divIcon {
    display: flex;
    align-items: center; 
}

.LabelEstado {
    background-color: #05c9ff;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 3%;
    padding: 6px 12px; 
    border-radius: 12px; 
    color: white; 
    font-size: 18px; 
    font-weight: bold; 
    text-align: center; 
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

h1 {
    padding-top: 3%;
    font-size: 30px;
    margin-left: 10px;
    font-weight: normal;
    color: #333;
    margin-bottom: -2px; 
}

.LabelInfo {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: -1; 
    padding-left: 5%;
}

.jiji {
    display: block;
    margin-top: 0;
}
.button3 {
    color: rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    border-top: none; 
    border-bottom: none;   
    border-left: none; 
    cursor: pointer;
    padding: 8px 16px;
    background-color: transparent;
    transition: all 0.3s ease;
    width: 35%;
    font-size: 20px;
}
.button4 {
    color: rgb(0, 0, 0);
    border-top: none; 
    border-bottom: none;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    background-color: transparent;
    transition: all 0.3s ease;
    width: 35%;
    font-size: 20px;
    &:hover {
        background-color: #bcbcbc; 
        color: #ecf0f1; 
        border-radius: 2px;
    }
}

.button3:hover {
    background-color: #bcbcbc; 
    color: #ecf0f1; 
    border-radius: 2px;
}

.contentButtons {
    display: flex; 
    border: 1px solid rgb(0, 0, 0); 
    border-radius: 5px; 
margin-top: 5%;
}

.DivInformacion {
    background-color: #ffffff;
    margin-top: 3%;
    padding: 2% 5%; 
    border-radius:5px; 
    color: rgb(0, 0, 0); 
    font-size: 30px; 
    font-weight: bold; 
    height: 25px; 
    display: flex;
    align-items: center; 
    border: 1px solid rgb(0, 0, 0); 
}

.divInfo{
    background-color: #ffffff;
    margin-top: -2%;
    border-top: none;
    padding: 2% 5%; 
    border-radius:5px; 
    color: rgb(0, 0, 0); 
    font-size: 30px; 
    font-weight: bold; 
    height: 25px; 
    display: flex;
    align-items: center; 
    border-left: 1px solid rgb(0, 0, 0); 
    border-right: 1px solid rgb(0, 0, 0); 
    border-bottom: 1px solid rgb(0, 0, 0); 
}