.navbar {
    height: 7vh;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: #d1d2d4;
    padding: 10px ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.right{
    display: flex;
    margin-right: 30px;
}
.left {
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 2px;

    h2{
        margin-left: 1rem;
    }
}
.icon{
    display: flex;
    align-items: center;
    padding-right: 5px;
}
.search{
    display: flex;
    color: white;
    border-radius: 5px;
    justify-content: space-between; 
}
.menu{
    align-items: center;
    text-align: center;
}