.navbar {
    height: 7vh;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: #2c3e50;
    padding: 10px ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.right{
    display: flex;
}
.left {
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.icon{
    display: flex;
}
.search{
    display: flex;
    color: white;
    border-radius: 5px;
    justify-content: space-between; 
}